---
import Layout from "@/layouts/Layout.astro";
import AstroImage from "@/components/markdoc/AstroImage.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await render(entry);
---

<Layout
  title={entry.data.title}
  description={entry.data.description}
  url={new URL(`${Astro.site}${entry.id}`)}
>
  <section class="max-w-sm md:max-w-xl lg:max-w-2xl mx-auto prose">
    <header class="mt-8 subpixel-antialiased text-pretty">
      <div class="mb-3 font-bold opacity-50">
        {entry.data.date.toLocaleDateString()}
      </div>

      <h1 class="font-bold">
        {entry.data.title}
      </h1>
      <h3 class="font-medium">{entry.data.description}</h3>
      <AstroImage
        class="object-cover object-center w-full h-full rounded-xl"
        src={entry.data.image}
        alt={entry.data.title}
      />
    </header>
    <Content />
  </section>
</Layout>
