---
interface Props {
  page: any;
}
const { page } = Astro.props;
---

<nav
  role="navigation"
  aria-label="pagination"
  class="mx-auto flex w-full justify-center"
>
  <ul class="flex flex-row items-center gap-1">
    <li>
      <a href={page.url.prev}
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"><path d="m15 18-6-6 6-6"></path></svg
        ></a
      >
    </li>
    <li class="w-8" maxlength="3" placeholder={page.currentPage}>
      {page.currentPage}
    </li>
    <li>
      <div class="size-9 flex items-center justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="size-4 shrink-0"
          ><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"
          ></circle><circle cx="5" cy="12" r="1"></circle></svg
        >
      </div>
    </li>
    <li>
      <a href={page.url.last} class="btn-icon-ghost">{page.lastPage}</a>
    </li>
    <li>
      <a href={page.url.next} class="btn-ghost"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg
        ></a
      >
    </li>
  </ul>
</nav>
